#home-main {
    .container {
        width: 68%;
        margin: 0 auto;
        
    }
    .cards {
        padding: 60px 60px 80px 60px;
        background-color: rgba($color: #fff, $alpha: 0.97);
        border-radius: 10px;
        box-shadow: 0 15px 25px -10px rgba(#000000, 0.1);
    }
    .websiite-news {
        margin-top: 50px;
    }
}
